# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\ownCloud\Shared\13_Studentische Mitarbeiter\Majesa\Dypro\Data Segmentation\Github\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
